
.box {
  background-color: #8ea86e;
  color: #fff;
  text-align: center;
  margin: 20px;
}

div,p,body,header,footer,section,article,nav,h1,h2,h3,h4 { 
margin: 0; 
padding: 0; 
} 

img { 
border: none; 
margin: 0; 
padding: 0; 
}

/*html selectors*/

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: #000;
  background-color: #fff;
}

a:link, a:visited { 
text-decoration:none; 
}

a:hover, a:active { 
text-decoration:none; 
 }

/*hide elements from browser but show for doc outline*/

.hidden
{
  display: none;
}

/*-- End hidden --*/

#topBar
{
  background-color: #012a3b;
  height: 20px;
}

/*-- Start Container --*/

.container
{
  width: 980px;
  margin: 0 auto;
  background-color: #fff;
}

/*-- End Container --*/

/*-- Start Header --*/

.mainHeader {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
 }

.logoHeader
{
  width: 220px;
  margin-top: 40px;
  margin-bottom: 80px;
  margin-left: 0;
}

.mainNav
{
  width: 500px;
  height: 100px;
  margin-top: 40px;
  margin-left: auto;
  background-color: #012a3b;
}

.mainNav ul
{
  list-style-type: none;
  padding: 0;
  margin-top: 40px;
  text-align: center;
}

.mainNav ul li {  
  font-size: 15px;
  display: inline;
  cursor: pointer;
  margin-left: 25px;
}

.mainNav ul li a
{
  color: #fff;
  padding: 5px;
}

.mainNav ul li a:hover {
  padding: 5px;
  background-color: #345562;
}

.selected
{
  padding: 5px 0px 5px 0px;
  background-color: #345562;
}

/*-- End Header --*/

/*-- Start Index --*/

.indexBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.indexImgs
{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 0;
}

.indexImgs p
{
  width: 275px;
  height: 50px;
  line-height: 22px;
  color: #fff;
  font-size: 15px;
  background-color: #012a3b;
  padding-left: 5px;
}

.variety, .interiors, .sizes
{
  color: #fff;
  width: 300px;
  margin-right: 50px;
}

.indexBanner {
  margin-top: 80px;
}

.bannerText {
  color: #fff;
  position: absolute;
  top: 575px;
  left: 1070px;
}

/*-- End Index --*/

 /*Gallery Page*/

 #galleryContainer {
  width: 980px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 }

.galleryText {
  width: 600px;
  height: 250px;
  background-color: #012a3b;
  color: #fff;
  padding: 10px 0px 0px 10px;
}

#truckTire {
  width: 280px;
  height: 250px;
  background-color: #012a3b;
  margin-left: auto;
}

#truckTire p {
   color: #fff;
   padding-bottom: 40px;
   padding-left: 10px;
   padding-top: 10px;
}

#mainGallery {
  padding-top: 80px;
  margin-left: 0px;
  width: 980px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#mainGallery h2 {
  font-size: 15px;
  width: 940px;
  color: #2073a8;
  background-color: #ddeff7;
  margin-bottom: 40px;
  padding: 8px 0px 8px 5px;

}

.galleryImageCon {
  width: 200px;
  height: 300px;
  background-color: #012a3b;
  margin-bottom: 40px;
}

.galleryImageCon a {
  display: block;
  width: 130px;
  height: 45px;
  text-align: center;
  margin-top: 15px;
  margin-left: 25px;
  color: #000;
  font-weight: bold;
  padding: 15px 10px 0px 10px;
  background-color: #fff;
  font-size: 15px;
}

/*-- End Gallery --*/

/*-- Contact Page --*/

#mainContact {
  width: 940px;
  padding-top: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

#mainContact h2 {
  font-size: 15px;
  color: #2073a8;
  background-color: #ddeff7;
  margin-bottom: 40px;
  padding: 8px 0px 8px 5px;
  width: 940px;
}

#contactArea {
  width: 410px;
  margin-top: 45px;
}

#contactText {
  font-size: 15px;
  margin-left: 15px;
  padding-bottom: 0px;
  width: 340px;
}

#contactForm {
  margin-top: 10px;
  padding-left: 15px;
  padding-top: 15px;
  background-color: #012a3b;
  height: 300px;
  width: 410px;
  color: #fff;
}

fieldset {
  border: none;
  padding: 0px;
}

input, textarea  {
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 375px;
  height: 30px;
  background-color: #efefef;
  display: block;
  border: 1px solid #999;
  color: #333;
}

#comments {
  max-height: 60px;
  height: 30px;
  width: 375px;
  max-width: 375px;
  min-width: 375px;
}

#submit {
  display: block;
  width: 130px;
  height: 45px;
  text-align: center;
  margin-top: 30px;
  color: #000;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #fff;
  font-size: 15px;
}

.mapArea {
  margin-top: 10px;
  padding-left: 80px;
  height: 315px;
  width: 410px;
  color: #fff;
}

/*-- Start Footer --*/

.mainFooter {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  justify-content: flex-start;
  height: 125px;
}

.footerNav {
  width: 500px;
  height: 100px;
  margin-top: 40px;
  margin-left: 0;
  background-color: #012a3b;
}

.footerNav ul {
  padding: 0;
  list-style-type: none;
  margin-top: 40px;
  width: 500px;
  text-align: center;
}

.footerNav ul li { 
  cursor: pointer;
  display: inline;
  margin-right: 25px;
  font-size: 15px;  
}

.footerNav ul li a {
  color: #fff;
  padding: 5px;
}

.footerNav ul li a:hover {
  background-color: #345562;
}

.socialMedia {
  height: 100px;
  width: 310px;
  margin-left: auto;
  margin-top: 40px;
  background-color: #012a3b;
}

#iconNav img {
  justify-content: space-evenly;
  margin-top: 24px;
  padding: 6px;
  margin-left: 18px;
}

#iconNav {
  list-style: none;
  margin: 0;
}

#iconNav li {
  display: inline;
  margin-right: 10px;
}

/*-- End Footer --*/
